,<html>
    <body>
        <form action="/add" method="post" >
            product id : <input type="text" name="pid" id="pid"><br>
            product name : <input type="text" name="pname" id="pname"><br>
            product price : <input type="text" name="price" id="price"><br>

            <button type="submit" name="btn" id="button" value="btn" >Add Product</button>
        </form>
    </body>
</html>